@charset "UTF-8";
/************************************************

Stylesheet: Main Stylesheet

*************************************************/
/*********************
GENERAL STYLES
*********************/

/*********************
LINK STYLES
*********************/

a, a:hover, a:visited {
	color: black;
}

a:hover {
	background-color: rgb(255, 237, 0);
}

a:link, a:visited:link {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
	text-decoration: none; }


/*********************
HEADER STYLES
*********************/
.header ul.off-canvas-list li {
	list-style: none; }

/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	padding: 0;
	background: white;
}

.top-bar-left .logo,
.top-bar-left .filter,
.top-bar-right a {
	font-size: 1.3em;
	line-height: 2.5rem;
	display: inline-block;
	padding: 0.4rem 2rem 0.6rem;
}

.top-bar .logo {
	background-color: rgb(255, 237, 0);
	color: black;
}

.top-bar .filter {
	padding: 0 1rem;
	box-sizing: border-box;
}

svg.filter-image {
	position: relative;
	top: 0.4rem;
	width: 1.5rem;
	height: 1.5rem;
	fill: #000;
}

svg.filter-image image {
	width: 100%;
	height: 100%;
}

.filter:hover svg.filter-image {
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
	transition: all 1s;
}

.filter-wrapper svg.filter-image {
	height: 90%;
}

.off-canvas-list ul {
	margin-left: 0; }
	.off-canvas-list ul li a {
		border-bottom: 0px; }
	.off-canvas-list ul .dropdown {
		margin-left: 20px; }

/*********************
POSTS & CONTENT STYLES
*********************/
#content #inner-content {
	padding: 1rem 0rem; }

.page-title .vcard {
	border: 0px;
	padding: 0px; }

.byline {
	color: #999; }

.entry-content img {
	max-width: 100%;
	height: auto; }

.entry-content .alignleft, .entry-content img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left; }

.entry-content .alignright, .entry-content img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right; }

.entry-content .aligncenter, .entry-content img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both; }

.entry-content video, .entry-content object {
	max-width: 100%;
	height: auto; }

.entry-content pre {
	background: #eee;
	border: 1px solid #cecece;
	padding: 10px; }

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px; }
	.wp-caption img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%; }
	.wp-caption p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center; }

/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	margin-top: 1em;
	text-align: center;
}


.widgets-footer {
	padding-top: 2em;
	background-image: url('../images/achtergrond-contact.jpg');
	background-size: 100em;
	color: white;
}

.footer-widget {
	margin-bottom: 2em;
}

.widgets-footer a,
.widgets-footer a:visited {
	color: white;
}

.widgets-footer a:hover {
	color: #414548;
}


/*********************
BUTTON STYLES
*********************/

.button,
input.wpcf7-submit,
.button:active,
.button:link {
	display: inline-block;
	min-width: 7.5em;
	text-transform: uppercase;
	border: 2px solid #414548;
	padding: 0.75em 1em;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1rem;
}

.button, .button:active, .button:link, span.your-file + label {
	color: #414548;
	background-color: rgba(255,255,255,0);
	transition: all .25s ease-out;
}

.button:hover {
	color: #414548;
	background-color: white;
	transition: all .25s ease-out;
}

input.wpcf7-file:focus + label,
span.your-file.has-focus + label,
input.wpcf7-submit,
span.your-file + label:hover {
    background-color: #414548;
	color: #fff;
	transition: all .25s ease-out;
}


input.wpcf7-submit {
	text-transform:capitalize;
}

input.wpcf7-submit:focus,
input.wpcf7-submit:hover {
	background-color: #fff;
	color: #414548;
	transition: all .25s ease-out;
}

a.arrow {
	display: block;
	position: fixed;
	bottom: 0.75rem;
	right: 2em;
	display: none;
}

a.arrow svg {
	width: 2rem;
	height: 1.5rem;
	overflow: hidden;
}

a.arrow:hover {
	background: none;
}

a.arrow:hover svg path {
	stroke: #000;
	transition: stroke 1s;
}

/*********************
EXCELERATOR STYLES
*********************/

.grey	{
	background-color: #e9eaea;
}

.white	{
	background-color: white;
}

.section-inner {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.section-inner .row,
.header-inner .row,
.footer-inner.row {
	max-width: 60em;
}

.section-inner h2 {
	font-weight: bold;
}

.header-inner {
	position: relative;
	overflow-x: hidden;
}

.header-inner .intro-wrapper {
	padding-top: 4rem;
}

.intro_content p {
	margin-bottom: 2em;
}

.intro_content p,
.prijzen_content p {
	font-weight: 100;
	font-size: 1.3em;
	line-height: 1.7em;
}

.header-inner .foto-wrapper {
	text-align: center;
	overflow-x: hidden;
}

.foto {
	height: 20em;
	width: auto;
}

.section-inner h2 {
	font-size: 2em;
	margin: 0 0 2rem;
}

.section-item h3 {
	font-size: 1.17em;
	font-weight: 900;
	text-decoration: underline;
	margin-bottom: 1.5rem;
}

.module_text h4 {
	font-size: 1.4rem;
	line-height: 1em;
}

.module_image-wrapper img {
	width: 60%;
	margin: auto 20%;
}

.module_image {
	height: 100%;
}

.module_image-wrapper,
.module_image_icon-wrapper {
	text-align: center;
}

.module_image-wrapper {
	display: table;
}

.module_image .center-me {
	display: table-cell;
	vertical-align: middle;
}

.module_image_icon-wrapper {
	display: block;
	float: left;
	width: 40%;
	height: auto;
	margin: 0 1rem 1rem 0;
}

.module_image_icon-wrapper img {
	max-width: 60%;
}

.ondertitel {
	font-size: 1.2rem;
	line-height: 1em;
	color: #37ab9c;
	margin-bottom: 0.75em;
}

.orbit-container {
	position: relative;
	transition: height 1s ease-in;
}

.orbit-container:focus {
	outline: none !important;
}

.orbit-container,
.module_text,
.module_image,
.orbit-slide {
	min-height: 15rem;
}

.orbit-next,
.orbit-previous {
	height: 3em;
	width: 2em;
	padding: 0;
}

.orbit-next > svg,
.orbit-previous > svg {
	height: 100%;
	width: 100%;
}

.orbit-next > svg > path,
.orbit-previous svg > path {
	stroke: rgba(206, 205, 206, 0.85);
}

.orbit-next:hover,
.orbit-previous:hover,
.orbit-next:focus,
.orbit-previous:focus  {
	background: transparent;
}

.orbit-next:hover > svg > path,
.orbit-previous:hover svg > path {
	stroke: #414548;
	transition: stroke 0.25s ease-out;
}

.your-name,
.your-email,
.your-phone,
.your-file-wrapper {
	float: left;
	display: block;
	width: 50%;
	padding-left: .9375rem;
	padding-right: .9375rem;
}
.your-name input,
.your-email input,
.your-phone input,
.your-file + label,
.your-message textarea {
	border: 2px solid #414548;
}

.your-name input:focus,
.your-email input:focus,
.your-phone input:focus,
.your-file + label:focus,
.your-message textarea:focus {
	border: 2px solid #414548;
	box-shadow: 0 1px 1px 0 #414548, 0 -1px -1px 0 #414548;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder,
.your-file + label { /* Chrome/Opera/Safari */
	color: #414548;
}
input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
	color: #414548;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
	color: #414548;
}
input:-moz-placeholder, textarea:-moz-placeholder  { /* Firefox 18- */
	color: #414548;
}

.wpcf7 label {
	font-size: 1em;
}

.wpcf7 input, .wpcf7 textarea {
	border-width: 2px;
}

.js input.wpcf7-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

span.your-file + label {
    max-width: 80%;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.225rem 0.75rem;
    /* 10px 20px */
}

.no-js input.wpcf7-file + label {
    display: none;
}

input.wpcf7-file:focus + label,
span.your-file.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

span.your-file + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.content-info p {
	margin: 1em 0;
}

/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
	list-style: none outside none;
	margin: 0; }


/*********************
BREAKPOINTS
*********************/


@media screen and (max-width: 40em) {
	.intro_content p,
	.prijzen_content p {
		font-size: 1.1em;
	}
	.section-inner {
		font-size: 0.9em;
	}

	.module_text h4,
	.module_text p {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.module_image {
		margin-top: 2rem;
	}

	.orbit-slide,
	.module_text,
	.module_image {
		min-height: 10rem;
	}

	.your-name,
	.your-email,
	.tel-137,
	.file-899 {
		width: 100%;
	}
}

/* Medium only */
@media screen and (min-width: 40em) {

	.header-inner .intro_content {
		padding-right: 10em;
	}

	.header-inner .intro_button {
		padding-bottom: 4rem;
	}

	.header-inner .foto-wrapper {
		position: absolute;
		bottom: 0;
		right: 0;
		/*margin-right: -2.5em;*/
		text-align: left;
	}

	.orbit-container {
		min-height: inherit;
	}
}

/* Large only */
@media screen and (min-width: 64em) {
	.header-inner .foto-wrapper {
		margin-right: -7.5em;
	}
	.foto {
		height: 22.5em;
		width: auto;
	}
	.orbit-next {
		right: 5%;
	}

	.orbit-previous {
		left: 5%;
	}
}

/******************************************************************

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
/******************************************************************

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet.

Remember to add things that won't make sense to print at
the bottom. Things like nav, ads, and forms shouldbe set
to display none.
******************************************************************/
@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		-webkit-filter: none !important;
		filter: none !important;
		-ms-filter: none !important; }
	a, a:visited {
		color: #444 !important;
		text-decoration: underline; }
		a:after, a:visited:after {
			content: " (" attr(href) ")"; }
		a abbr[title]:after, a:visited abbr[title]:after {
			content: " (" attr(title) ")"; }
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: ""; }
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid; }
	thead {
		display: table-header-group; }
	tr, img {
		page-break-inside: avoid; }
	img {
		max-width: 100% !important; }
	@page {
		margin: 0.5cm; }
	p, h2, h3 {
		orphans: 3;
		widows: 3; }
	h2,
	h3 {
		page-break-after: avoid; }
	.sidebar,
	.page-navigation,
	.wp-prev-next,
	.respond-form,
	nav {
		display: none; } }
